.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal{
        width: 500px;
        background-color: rgb(255,255,255);
        padding: 40px;
        border-radius: 10px;
        box-shadow: rgb(0,0,0, 0.5) 0 6px 24px, rgb(0,0,0, 0.08) 0 0 0 1px;
    
        .form-title-container{
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: space-between;

            button{
                border: none;
                background-color: transparent;
            }
            button:active{
                color: rgb(255,50,50);
            }
        }

        form {
            display: flex;
            flex-direction: column;

            input{
                margin:11px  0;
                padding: 12px 16px;
                border-radius: 10px;
                border: 1.5px solid rgb(230, 232, 236);

                
            }
           

            label{
                font-size: 13px;
            }
    }
}}