*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 241, 249);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 20px;
}